#main-visual {
  position: relative;
}
#main-visual ul li {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
#main-visual ul li:nth-child(1) {
  background-image: url("../image/visual_bg1.jpg");
}
#main-visual ul li:nth-child(2) {
  background-image: url("../image/visual_bg2.jpg");
}
#main-visual ul li h2 {
  font-size: 80px;
  font-weight: 700;
  margin-left: 80px;
  line-height: 1.25;
}
#main-visual ul li p {
  margin: 80px 0 0 80px;
}
#main-visual .main-pagination {
  position: absolute;
  bottom: 20%;
  z-index: 2;
  left: 80px;
}
#main-visual .main-pagination .swiper-pagination-bullet {
  width: 80px;
  height: 5px;
  border-radius: 0;
  background-color: #fff;
  margin: 0;
}

#products .container {
  width: 90%;
  padding: 150px 0;
  position: relative;
  margin: 0 0 0 50px;
}
#products .container .contents h2 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 50px;
}
#products .container .contents p {
  line-height: 1.8;
  color: #333;
}
#products .container .background-logo {
  font-size: 100px;
  font-weight: 700;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: 100px;
}
#products .container .background-logo p {
  text-align: center;
}
#products .container .products-slide {
  text-align: center;
  position: relative;
  overflow: hidden;
}
#products .container .products-slide ul li img {
  width: 80%;
  height: 500px;
  object-fit: contain;
}
#products .container .products-slide .product-navigation {
  display: flex;
}
#products .container .products-slide .product-navigation .btn {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 100%;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  top: 50%;
}
#products .container .products-slide .product-navigation .btn:hover {
  border-color: #333;
}
#products .container .products-slide .product-navigation .next-btn {
  right: 0;
}
#products .container .products-pag {
  position: absolute;
  height: 250px;
  right: 50px;
  top: 10%;
  overflow: hidden;
}
#products .container .products-pag ul li {
  color: #ccc;
  text-align: right;
}
#products .container .products-pag ul li.on {
  color: #111;
  font-size: 25px;
  font-weight: bold;
}
#products .container .products-pag ul li.on:after {
  content: "+";
  margin-left: 10px;
}

#technology {
  background-color: #121212;
  color: #fff;
  padding: 150px 0 600px;
}
#technology .contents h2 {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
}
#technology .contents h2 .over {
  margin-left: -300px;
}
#technology .contents h2 .year {
  margin-left: 300px;
}
#technology .contents h2 .tec {
  margin-left: -300px;
}
#technology .contents p {
  margin-left: 60%;
  line-height: 1.8;
  padding: 100px 0;
}
#technology ul {
  display: flex;
  justify-content: space-evenly;
}
#technology ul li {
  position: relative;
  width: 290px;
  padding-top: 100px;
}
#technology ul li .info-box {
  width: 290px;
  height: 445px;
  box-sizing: border-box;
  padding: 50px 30px;
  background-color: #0b0b0b;
  position: absolute;
  left: 0;
}
#technology ul li .info-box > span {
  display: block;
  position: absolute;
  z-index: 2;
  width: 150px;
  left: -100px;
  top: 80px;
  transform: rotate(90deg);
  font-size: 15px;
  opacity: 0.5;
}
#technology ul li:nth-child(2) {
  margin-top: 100px;
}
#technology ul li:nth-child(3) {
  margin-top: -100px;
}
#technology ul li:nth-child(4) {
  margin-top: 50px;
}
#technology ul li:nth-child(4) .info-box {
  right: 0;
  left: auto;
}
#technology ul li .img-box {
  height: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#technology ul li .img-box img {
  width: 200px;
  filter: brightness(0) invert(1);
}
#technology ul li:hover .info-box {
  transition: all 0.2s ease;
  z-index: 5;
  width: 400px;
  box-shadow: 0px 0px 5px 5px rgba(0, 122, 255, 0.2);
}
#technology ul li:hover .img-box img {
  filter: brightness(1) invert(0);
}

#tomorrow {
  height: 100vh;
  padding: 180px 0 100px;
  display: flex;
}
#tomorrow .title {
  width: 40%;
  padding-left: 30px;
}
#tomorrow .title h2 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 50px;
}
#tomorrow .list {
  width: 50%;
}
#tomorrow .list ul li {
  padding: 50px 20px;
  border-bottom: 1px solid #333;
}
#tomorrow .list ul li:nth-child(1) {
  border-top: 1px solid #333;
}
#tomorrow .list ul li h3 {
  font-size: 25px;
  font-weight: 700;
}
#tomorrow .list ul li.on {
  padding: 80px 20px;
  transition: all 0.3s ease;
}
#tomorrow .list ul li.on .contents {
  display: block;
}
#tomorrow .list ul li.on .contents img {
  transform: translateY(-45%);
}
#tomorrow .list ul li .contents {
  display: flex;
  justify-content: space-between;
  position: relative;
  display: none;
  margin-top: 20px;
}
#tomorrow .list ul li .contents p {
  font-size: 16px;
  width: 350px;
  word-break: keep-all;
  line-height: 1.5;
}
#tomorrow .list ul li .contents img {
  position: absolute;
  right: -100px;
  top: 0;
  z-index: -1;
}

#recruit {
  background-image: url("../image/recruit_bg.jpg");
  background-size: cover;
  display: flex;
}
#recruit .recruit-contents {
  width: 30%;
  padding: 250px 0 200px;
  padding-left: 50px;
  color: #fff;
}
#recruit .recruit-contents h2 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
}
#recruit .recruit-contents p {
  padding: 50px 0 100px;
}
#recruit .recruit-contents ul {
  display: flex;
}
#recruit .recruit-contents ul li {
  height: 100px;
  border-right: 0.5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#recruit .recruit-contents ul li:hover {
  color: #007aff;
}
#recruit .recruit-contents ul li:hover img {
  filter: brightness(1) invert(0);
}
#recruit .recruit-contents ul li > a {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
#recruit .recruit-contents ul li > a img {
  width: 40px;
  filter: brightness(0) invert(1);
}
#recruit .line {
  margin: 300px auto auto;
  width: 60%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

#newsroom {
  padding: 200px 0;
}
#newsroom .newsroom-title {
  text-align: center;
}
#newsroom .newsroom-title h2 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
}
#newsroom .newsroom-title p {
  padding: 100px 0;
}