@import "vars";
@import "mixins";
#main-visual {
  position: relative;
  ul {
    li {
      @for $i from 1 through 2 {
        &:nth-child(#{$i}) {
          background-image: url("../image/visual_bg#{$i}.jpg");
        }
      }
      background-size: cover;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      h2 {
        font-size: 80px;
        font-weight: 700;
        margin-left: 80px;
        line-height: 1.25;
      }
      p {
        margin: 80px 0 0 80px;
      }
    }
  }
  .main-pagination {
    position: absolute;
    bottom: 20%;
    z-index: 2;
    left: 80px;
    .swiper-pagination-bullet {
      width: 80px;
      height: 5px;
      border-radius: 0;
      background-color: #fff;
      margin: 0;
    }
  }
}
#products {
  .container {
    width: 90%;
    padding: 150px 0;
    position: relative;
    margin: 0 0 0 50px;
    .contents {
      h2 {
        font-size: 80px;
        font-weight: 700;
        margin-bottom: 50px;
      }
      p {
        line-height: 1.8;
        color: #333;
      }
    }
    .background-logo {
      font-size: 100px;
      font-weight: 700;
      opacity: 0.1;
      position: absolute;
      width: 100%;
      z-index: -1;
      margin-top: 100px;
      p {
        text-align: center;
      }
    }
    // .product-pagination {
    //   position: absolute;
    //   left: auto;
    //   right: 0;
    //   width: auto;
    //   top: 25%;
    //   bottom: auto;
    //   .swiper-pagination-bullet {
    //     width: 180px;
    //     height: 10px;
    //     border-radius: 0;
    //     background-color: transparent;
    //     margin-bottom: 40px;

    //     &-active {
    //       font-weight: bold;
    //       transition: all 0.25s ease;
    //       &:after {
    //         content: "+";
    //         margin-left: 10px;
    //       }
    //     }
    //   }
    // }
    .products-slide {
      text-align: center;
      position: relative;
      overflow: hidden;
      ul {
        li {
          img {
            width: 80%;
            height: 500px;
            object-fit: contain;
          }
        }
      }
      .product-navigation {
        display: flex;
        .btn {
          width: 100px;
          height: 100px;
          border: 1px solid#ccc;
          border-radius: 100%;
          display: flex;
          font-size: 30px;
          align-items: center;
          justify-content: center;
          position: absolute;
          z-index: 99;
          top: 50%;
          &:hover {
            border-color: #333;
          }
        }
        .next-btn {
          right: 0;
        }
      }
    }
    .products-pag {
      position: absolute;
      height: 250px;
      right: 50px;
      top: 10%;

      overflow: hidden;
      ul {
        li {
          color: #ccc;
          text-align: right;
          &.on {
            color: #111;
            font-size: 25px;
            font-weight: bold;
            &:after {
              content: "+";
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
#technology {
  background-color: #121212;
  color: #fff;
  padding: 150px 0 600px;
  .contents {
    h2 {
      font-size: 80px;
      font-weight: 700;
      text-align: center;
      line-height: 1.25;
      .over {
        margin-left: -300px;
      }
      .year {
        margin-left: 300px;
      }
      .tec {
        margin-left: -300px;
      }
    }
    p {
      margin-left: 60%;
      line-height: 1.8;
      padding: 100px 0;
    }
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    li {
      position: relative;
      //background-color: pink;
      width: 290px;
      padding-top: 100px;

      .info-box {
        width: 290px;
        height: 445px;
        box-sizing: border-box;
        padding: 50px 30px;
        background-color: #0b0b0b;
        position: absolute;
        left: 0;
        > span {
          display: block;
          position: absolute;
          z-index: 2;
          width: 150px;
          left: -100px;
          top: 80px;
          transform: rotate(90deg);
          font-size: 15px;
          opacity: 0.5;
        }
      }
      &:nth-child(2) {
        margin-top: 100px;
      }
      &:nth-child(3) {
        margin-top: -100px;
      }
      &:nth-child(4) {
        margin-top: 50px;
        .info-box {
          right: 0;
          left: auto;
        }
      }
      .img-box {
        height: 345px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 200px;
          filter: brightness(0) invert(1);
        }
      }

      &:hover {
        .info-box {
          transition: all 0.2s ease;
          z-index: 5;
          width: 400px;
          box-shadow: 0px 0px 5px 5px rgb(0, 122, 255, 0.2);
        }
        .img-box {
          img {
            filter: brightness(1) invert(0);
          }
        }
      }
    }
  }
}
#tomorrow {
  height: 100vh;
  padding: 180px 0 100px;
  display: flex;
  .title {
    width: 40%;
    padding-left: 30px;
    h2 {
      font-size: 80px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 50px;
    }
  }
  .list {
    width: 50%;
    ul {
      li {
        padding: 50px 20px;
        border-bottom: 1px solid #333;
        &:nth-child(1) {
          border-top: 1px solid #333;
        }
        h3 {
          font-size: 25px;
          font-weight: 700;
        }
        &.on {
          padding-top: 80px;
          padding-bottom: 80px;
          transition: all 0.5s ease;
          .contents {
            height: 100%;
            margin-top: 20px;
            transition: all 0.5s ease;
            p {
              visibility: visible;
              opacity: 1;
              transition: all 0.5s ease;
            }
            img {
              visibility: visible;
              transform: rotate(0deg) translateY(-50%) scale(1);
              opacity: 1;
              //transition: all 0.5s ease;
            }
          }
        }
        .contents {
          display: flex;
          justify-content: space-between;
          position: relative;
          //margin-top: 20px;
          height: 0;

          p {
            font-size: 16px;
            width: 350px;
            word-break: keep-all;
            line-height: 1.5;
            visibility: hidden;
            opacity: 0;
          }
          img {
            position: absolute;
            right: -100px;
            top: 0;
            z-index: -1;
            visibility: hidden;
            transform: rotate(30deg) translateY(-40%) scale(0.5);
            transition: all 0.5s ease;
            opacity: 0;
          }
        }
      }
    }
  }
}
#recruit {
  background-image: url("../image/recruit_bg.jpg");
  background-size: cover;
  display: flex;
  .recruit-contents {
    width: 30%;
    padding: 250px 0 200px;
    padding-left: 50px;
    color: #fff;
    h2 {
      text-transform: uppercase;
      font-size: 80px;
      font-weight: 700;
    }
    p {
      padding: 50px 0 100px;
    }
    ul {
      display: flex;
      li {
        height: 100px;
        border-right: 0.5px solid #fff;
        @include flex;
        &:hover {
          color: #007aff;
          img {
            filter: brightness(1) invert(0);
          }
        }
      }
      li > a {
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        img {
          width: 40px;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
  .line {
    margin: 300px auto auto;
    width: 60%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  }
}
#newsroom {
  padding: 200px 0;
  .newsroom-title {
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-size: 80px;
      font-weight: 700;
    }
    p {
      padding: 100px 0;
    }
  }
  .news {
    .btns {
      text-align: center;
      margin-bottom: 50px;
      button {
        cursor: pointer;
        font-size: 20px;
        color: grey;
        &.on {
          color: #003668;
          text-decoration: underline;
        }
      }
    }
  }
  .news-list {
    padding: 0 20px;
    > ul {
      display: flex;
      max-height: 400px;
      overflow: hidden;
      flex-wrap: wrap;
      .all {
        width: calc(25% - 20px);
        margin: 0 10px;
        .img-box {
          img {
            width: 100%;
            height: 255px;
            object-fit: cover;
          }
        }
        .date {
          display: block;
          color: #999;
          padding: 30px 0;
        }
        h3 {
          font-size: 25px;
          font-weight: 700;
          line-height: 1.25;
          @include multiElilipsis(2);
        }
      }
    }
  }
}
#footer {
  background-color: #111;
  color: #fff;
  .footer-title {
    border-bottom: 1px solid #333;
    padding: 0 100px;
    color: rgb(255, 255, 255, 0.5);
    ul {
      display: flex;
      padding: 50px 0;

      li {
        a {
          padding-right: 50px;
        }
      }
    }
  }
  .address {
    padding: 80px 100px;
    h1 {
      display: flex;
      align-items: center;
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 30px;
      img {
        width: 80px;
        filter: brightness(0) invert(1);
      }
    }
    .address-box {
      color: rgb(255, 255, 255, 0.5);
      font-weight: 300;
      margin-bottom: 15px;
      dl {
        display: flex;
        dd {
          margin-right: 100px;
        }
      }
    }
  }
}
